Agente de reservasRest1 (1).json
{
  "name": "Agente de reservasRest1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f57fad25-a818-4d0b-9587-e1af04f22c36",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3184,
        864
      ],
      "id": "0f517d78-49d8-49df-aa8a-dfc181871413",
      "name": "Webhook",
      "webhookId": "f57fad25-a818-4d0b-9587-e1af04f22c36"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "449c0432-7006-497a-941a-8e25a85ad869",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "tool-calls",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2960,
        864
      ],
      "id": "0d167ff2-4df6-4706-ac9c-f4a42bb6f44a",
      "name": "tool_call"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"horas_disponibles\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"Las horas disponibles\"\n\t\t},\n\t\t\"disponibilidad\": {\n           \"type\": \"boolean\",\n           \"description\": \"Si hay o no espacios disponibles\"\n        }\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        384
      ],
      "id": "89cb8159-6fff-4965-8166-ee3d875a1939",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"horas_disponibles\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"Las horas disponibles\"\n\t\t},\n\t\t\"disponibilidad\": {\n           \"type\": \"boolean\",\n           \"description\": \"Si hay o no espacios disponibles\"\n        }\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        1056
      ],
      "id": "8c2e5d2e-9153-4124-a671-a42fa2b02159",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ddbc843-aceb-4923-b2e2-c42e4aef568a",
              "leftValue": "={{ $json.body.message.analysis.structuredData.reserva }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2672,
        1344
      ],
      "id": "0108a1b2-3fb7-4d77-b7b3-f8099cba75bb",
      "name": "reserva"
    },
    {
      "parameters": {
        "from": "=",
        "to": "+ 34 ",
        "toWhatsapp": true,
        "message": "=🍷 ¡Hola {{ $('w').item.json.fields.Nombre }}!\n\nTe habla el equipo de *Restaurante El Pòsit*.  \nTienes una reserva pendiente para el día *{{ $('w').item.json.fields.Fecha }}* a las *{{ $('w').item.json.fields.Hora }}*. Para {{ $('w').item.json.fields.Invitados }} personas. \n\n¿Podés confirmar tu asistencia?  \nSolo respondé con 👉 *“Sí confirmo”*\n\nAsí preparamos tu mesa con todo listo 🕯️  \n¡Te esperamos con ganas de sorprenderte!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1408,
        1280
      ],
      "id": "4cff23e1-c58d-4b20-ae6f-5a07a45846f5",
      "name": "Conf_cliente2",
      "credentials": {
        "twilioApi": {
          "id": "1MMS4E8JLRwKPGDt",
          "name": "El Pòsit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fbb0c07-e1c3-4a4a-bf86-3a2f20941d43",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2512,
        624
      ],
      "id": "b2470a09-4794-4675-8ff6-aa8777851e0e",
      "name": "¿Hay reservas temporales?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2288,
        816
      ],
      "id": "ee146ab2-cc50-47e7-929d-87e57b08d0eb",
      "name": "Emparejar ID llamada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a97c9a7a-a8d9-434e-9367-61a4fa063fcf",
              "leftValue": "={{ $json.id_llamada }}",
              "rightValue": "={{ $('Webhook').item.json.body.message.call.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        928
      ],
      "id": "a76b0f84-8f3f-42fd-8b0d-47a4b7919ea6",
      "name": "¿Coincide el ID de llamada?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"Hay disponibilidad a las {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.hora }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1840,
        912
      ],
      "id": "c1fcca07-fa2f-4124-85d0-24cfc54eff7f",
      "name": "Hay disponibilidad (reserva temporal)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2064,
        480
      ],
      "id": "b2b0a45f-678b-4c13-98a9-30209d8c7a2d",
      "name": "Límite"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "417f8005-36b4-493f-87a0-e2bfcc5b76e3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        480
      ],
      "id": "84110b64-f69f-4e77-a1f3-c9234cdc0cc6",
      "name": "¿Hay reservas?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"Hay disponibilidad a las {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.hora }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1168,
        576
      ],
      "id": "c73164d0-14c9-4f53-b38a-de452973b8a6",
      "name": "Hay disponibilidad (no hay reservas)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1168,
        384
      ],
      "id": "9526ebfd-d187-43ca-812a-81f6e81fadb1",
      "name": "Combinar"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "reservas",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1392,
        368
      ],
      "id": "144b95bb-79f6-422f-bec2-5f4c1a4ad55e",
      "name": "Lista de reservas"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "reservas_temporales",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1376,
        800
      ],
      "id": "afb7370c-34a0-4c62-849b-fc1b789171cd",
      "name": "Lista de reservas temporales"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4b48ab6-34fa-4fb1-a985-7d496b392c9b",
              "leftValue": "={{ $json.reservas_temporales }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        384
      ],
      "id": "ae41a233-3b9a-49b1-8cb3-0ed4d55b446b",
      "name": "¿Existen reservas temporales?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18cb0797-f493-4499-b767-083474817000",
              "name": "mesas_ocupadas",
              "value": "={{ $json.reservas.length + $json.reservas_temporales.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        176
      ],
      "id": "eda0fce9-2bf0-4d58-8458-6b5e66be687b",
      "name": "Mesas ocupadas (con temporales)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9c228ea-e352-47be-a7ca-68f7acb40805",
              "leftValue": "={{ $json.cantidad_disponibles }}",
              "rightValue": "={{ $('Mesas ocupadas (con temporales)').item.json.mesas_ocupadas }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        176
      ],
      "id": "8b875cf2-6852-4c20-a99f-7d0820252208",
      "name": "¿Hay mesas disponibles?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"Hay disponibilidad a las {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.hora }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        0
      ],
      "id": "e73a9eb0-56ea-4785-8911-2cdf97df1305",
      "name": "Hay disponibilidad"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dime 3 espacios disponibles entre las 13:00 y 22:00. Estos son los espacios ocupados:\n\n{{ $('Combinar').item.json.reservas.map(item => item.hora).join(\", \")}}, {{ $('Combinar').item.json.reservas_temporales.map(item => item.hora).join(\", \")}}\n\nCada espacio dura una hora.\n\nEJEMPLO:\n\nSi las 14:00, 15:00 y 18:00 están ocupados, tu respuesta puede ser 13:00, 16:00 y 20:00.\n\nResponde en formato JSON:\n\n{\n  \"horas_disponibles\": \"13:00, 16:00 y 20:00\",\n  \"disponibilidad\": true\n}\n\nEn caso de que solo haya dos espacios disponibles o menos menciona esos. Y si no hay ningún espacio disponible de una hora entre las 13:00 y 22:00, di que no hay disponibilidad y marca el valor \"disponibilidad\" como \"false\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        192
      ],
      "id": "ba1aaac3-6b74-49a5-a384-26cc2411cd8d",
      "name": "Buscar alternativas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d1877d8-67bd-423f-8e85-ed495ad53c62",
              "leftValue": "={{ $json.output.disponibilidad }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        192
      ],
      "id": "611ae98a-8880-49a0-b8fc-20e4e480d524",
      "name": "¿Hay alternativas?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"No hay disponibilidad a las {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.hora }}. Tenemos disponibilidad a las {{ $json.output.horas_disponibles }} del mismo día.\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        80
      ],
      "id": "08dd4d92-5d68-4cc9-84de-476e3bdc3eeb",
      "name": "Alternativas"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"No hay disponibilidad para este día.\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        288
      ],
      "id": "599f723e-bd22-4522-8ef3-2dd63be751e6",
      "name": "No hay alternativas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18cb0797-f493-4499-b767-083474817000",
              "name": "mesas_ocupadas",
              "value": "={{ $json.reservas.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        832
      ],
      "id": "e9ed21e2-88c0-43e5-a4a5-5937217c3515",
      "name": "Mesas ocupadas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9c228ea-e352-47be-a7ca-68f7acb40805",
              "leftValue": "={{ $json.cantidad_disponibles }}",
              "rightValue": "={{ $('Mesas ocupadas').item.json.mesas_ocupadas }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        832
      ],
      "id": "654ffd60-2746-4981-9733-7b5f5e162509",
      "name": "¿Hay mesas disponibles?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"Hay disponibilidad a las {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.hora }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        656
      ],
      "id": "d13c94c1-893b-439c-96d8-f4a9e7e7a04f",
      "name": "Hay disponibilidad1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dime 3 espacios disponibles entre las 13:00 y 22:00. Estos son los espacios ocupados:\n\n{{ $('Combinar').item.json.reservas.map(item => item.hora).join(\", \")}}\n\nCada espacio dura una hora.\n\nEJEMPLO:\n\nSi las 14:00, 15:00 y 18:00 están ocupados, tu respuesta puede ser 13:00, 16:00 y 20:00.\n\nResponde en formato JSON:\n\n{\n  \"horas_disponibles\": \"13:00, 16:00 y 20:00\",\n  \"disponibilidad\": true\n}\n\nEn caso de que solo haya dos espacios disponibles o menos menciona esos. Y si no hay ningún espacio disponible de una hora entre las 13:00 y 22:00, di que no hay disponibilidad y marca el valor \"disponibilidad\" como \"false\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        848
      ],
      "id": "cbc9ca53-a2cc-42e9-a28e-2137fce0709f",
      "name": "Buscar alternativas1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d1877d8-67bd-423f-8e85-ed495ad53c62",
              "leftValue": "={{ $json.output.disponibilidad }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        848
      ],
      "id": "a9546d5a-73b8-4f37-a571-6d119aa13a0d",
      "name": "¿Hay alternativas?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"No hay disponibilidad a las {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.hora }}. Tenemos disponibilidad a las {{ $json.output.horas_disponibles }} del mismo día.\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        768
      ],
      "id": "5b599ec7-4eb7-4cfc-b218-e6fd583d74fd",
      "name": "Alternativas1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"No hay disponibilidad para este día.\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        960
      ],
      "id": "0fe2f8d1-1231-4f7c-a35b-beead441204d",
      "name": "No hay alternativas1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        496
      ],
      "id": "3e763c99-ac30-47eb-914d-f256a2221077",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wADCz1Ra1rdWtC5v",
          "name": "El Posit"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        400
      ],
      "id": "f17ba309-8cae-4918-b385-deaec59fe0cf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wADCz1Ra1rdWtC5v",
          "name": "El Posit"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        1024
      ],
      "id": "cb412dd1-cd69-4b04-a718-f3715084e0e8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "wADCz1Ra1rdWtC5v",
          "name": "El Posit"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        1184
      ],
      "id": "ed0796cb-062f-40a6-ac43-4607bbfe75e7",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "wADCz1Ra1rdWtC5v",
          "name": "El Posit"
        }
      }
    },
    {
      "parameters": {
        "url": "https://jorvmnmwmbtxierzzvfn.supabase.co/rest/v1/reservas_temporales",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select ",
              "value": "*"
            },
            {
              "name": "or ",
              "value": "=(and(id_mesa.eq.T{{ $json.body.message.toolCalls[0].function.arguments.invitados }},fecha.eq.{{ $json.body.message.toolCalls[0].function.arguments.fecha }},hora.eq.{{ $json.body.message.toolCalls[0].function.arguments.hora }}),id_llamada.eq.{{ $json.body.message.call.id }})"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcnZtbm13bWJ0eGllcnp6dmZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4MzE2NCwiZXhwIjoyMDg5MTU5MTY0fQ.c9q-ojxakAR773LtLeI8F-ogn1a4COwxLhqizp_ujdA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcnZtbm13bWJ0eGllcnp6dmZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4MzE2NCwiZXhwIjoyMDg5MTU5MTY0fQ.c9q-ojxakAR773LtLeI8F-ogn1a4COwxLhqizp_ujdA"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2720,
        752
      ],
      "id": "c1d28ee7-49a8-42c6-bb7d-bee7a2e74591",
      "name": "Buscar reservas temporales / Evitar duplicados",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://jorvmnmwmbtxierzzvfn.supabase.co/rest/v1/reservas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select ",
              "value": "*"
            },
            {
              "name": "id_mesa",
              "value": "=eq.T{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.invitados }}"
            },
            {
              "name": "fecha",
              "value": "=eq.{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.fecha }}"
            },
            {
              "name": "hora",
              "value": "=eq.{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.hora }}"
            },
            {
              "name": "estatus",
              "value": "in.(Reservado,Confirmado)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcnZtbm13bWJ0eGllcnp6dmZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4MzE2NCwiZXhwIjoyMDg5MTU5MTY0fQ.c9q-ojxakAR773LtLeI8F-ogn1a4COwxLhqizp_ujdA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcnZtbm13bWJ0eGllcnp6dmZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4MzE2NCwiZXhwIjoyMDg5MTU5MTY0fQ.c9q-ojxakAR773LtLeI8F-ogn1a4COwxLhqizp_ujdA"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1840,
        480
      ],
      "id": "0decc1ad-2095-45c1-b266-bd04af91488e",
      "name": "Buscar reservas1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2784,
        720
      ],
      "id": "8b32401e-4493-4342-8b7e-4a19ac00f672",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        448
      ],
      "id": "3abd8916-9916-48f9-b559-0f9fab9b60c8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        544
      ],
      "id": "19126867-6dee-4307-bfb2-78991b66f312",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        656
      ],
      "id": "6aedae7a-b395-47fb-8b5b-bb805af2f010",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "tableId": "reservas_temporales",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_reserva",
              "fieldValue": "==RES{{ Math.floor(Math.random() * 100000) }}"
            },
            {
              "fieldId": "id_mesa",
              "fieldValue": "==T{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.invitados }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.fecha }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.hora }}"
            },
            {
              "fieldId": "id_llamada",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.call.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        672
      ],
      "id": "dfb2f1d2-7283-48e2-acee-cefdb11b2b06",
      "name": "Crear reserva temporal2",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "tableId": "reservas_temporales",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_reserva",
              "fieldValue": "==RES{{ Math.floor(Math.random() * 100000) }}"
            },
            {
              "fieldId": "id_mesa",
              "fieldValue": "==T{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.invitados }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.fecha }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.hora }}"
            },
            {
              "fieldId": "id_llamada",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.call.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1392,
        560
      ],
      "id": "63bc695c-9060-4d35-bd84-5054a6dd7027",
      "name": "Crear reserva temporal",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "mesas_disponibles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id_mesa",
              "condition": "eq",
              "keyValue": "==T{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.invitados }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        176
      ],
      "id": "527a5ecc-ef9a-48f9-b045-71912447ce0e",
      "name": "Obtener disponibilidad de mesa",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "mesas_disponibles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id_mesa",
              "condition": "eq",
              "keyValue": "==T{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.invitados }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -528,
        832
      ],
      "id": "d751af31-e97d-49b0-af30-7572019ca262",
      "name": "Obtener disponibilidad de mesa1",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        816
      ],
      "id": "a63cd487-f17b-4688-b42b-e860e00ae3eb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        160
      ],
      "id": "a418dcab-87a2-49e0-959f-c0a7575f9132",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "tableId": "reservas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_reserva",
              "fieldValue": "==RES{{ Math.floor(Math.random() * 100000) }}"
            },
            {
              "fieldId": "id_mesa",
              "fieldValue": "==T{{ $json.body.message.analysis.structuredData.reserva_invitados }}"
            },
            {
              "fieldId": "nombre",
              "fieldValue": "=={{ $json.body.message.analysis.structuredData.reserva_nombre }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "=={{ $json.body.message.analysis.structuredData.reserva_fecha }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "=={{ $json.body.message.analysis.structuredData.reserva_hora }}"
            },
            {
              "fieldId": "invitados",
              "fieldValue": "=={{ $json.body.message.analysis.structuredData.reserva_invitados }}"
            },
            {
              "fieldId": "estatus",
              "fieldValue": "Reservado"
            },
            {
              "fieldId": "detalles",
              "fieldValue": "=={{ $json.body.message.analysis.summary }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "=={{ $json.body.message.customer.number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2432,
        1264
      ],
      "id": "5172b68d-45b9-4221-8bd4-7e3a7cbaca74",
      "name": "Crear reserva",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2512,
        1248
      ],
      "id": "4d31d4e4-5652-41af-9401-885c66d4efd9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservas_temporales",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "id_llamada",
              "condition": "eq",
              "keyValue": "=={{ $('Webhook').item.json.body.message.call.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2208,
        1264
      ],
      "id": "97e7ac7b-2b8f-41ce-86ed-065060beb4c6",
      "name": "Buscar la reserva temporal",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservas_temporales",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "id_llamada",
              "condition": "eq",
              "keyValue": "=={{ $('Webhook').item.json.body.message.call.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2448,
        1456
      ],
      "id": "4d60d228-893c-4f52-949f-f8234370737c",
      "name": "Buscar la reserva temporal1",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        1248
      ],
      "id": "7331f503-4cd2-4c02-a32e-9514852ab761",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        1440
      ],
      "id": "cbc1b895-f078-41ff-9b26-9fcb981bde6f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "reservas_temporales",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1952,
        1264
      ],
      "id": "e787012e-d4ac-4721-97fd-661628007e17",
      "name": "Eliminar reserva temporal",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2000,
        1248
      ],
      "id": "738ac195-5bec-46fb-9311-8eedc789157e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "tableId": "info_llamadas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "res_id",
              "fieldValue": "=={{ $('Crear reserva').item.json.id }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "=={{ $('Crear reserva').item.json.numero }}"
            },
            {
              "fieldId": "fecha_llamada",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.startedAt }}"
            },
            {
              "fieldId": "duracion_llamada",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.durationSeconds }}"
            },
            {
              "fieldId": "motivo_finalizacion",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.endedReason }}"
            },
            {
              "fieldId": "peticiones_adicionales",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.analysis.summary }}"
            },
            {
              "fieldId": "coste_llamada",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.cost }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        1264
      ],
      "id": "bb48bfd6-0f6f-48de-83fd-fe36426414f0",
      "name": "Registrar info de llamada",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "tableId": "reservas_temporales",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_reserva",
              "fieldValue": "==RES{{ Math.floor(Math.random() * 100000) }}"
            },
            {
              "fieldId": "id_mesa",
              "fieldValue": "==T{{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.invitados }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.fecha }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.toolCallList[0].function.arguments.hora }}"
            },
            {
              "fieldId": "id_llamada",
              "fieldValue": "=={{ $('Webhook').item.json.body.message.call.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "414d910d-fc25-4f6b-b16f-42ec7085b9b2",
      "name": "Crear reserva temporal3",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1760,
        1232
      ],
      "id": "86832a4c-dc30-49ff-af6b-97ced10e0170",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -16
      ],
      "id": "01ac1043-ed07-45df-b8c1-b1d71d0ebe95",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "reservas_temporales",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2224,
        1456
      ],
      "id": "f13e92b8-e4f6-4b38-8747-ce8654db7031",
      "name": "Eliminar reserva temporal1",
      "credentials": {
        "supabaseApi": {
          "id": "1xaJt0G3bzT6ZMLF",
          "name": "ElPosit"
        }
      }
    },
    {
      "parameters": {
        "content": ""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2256,
        1424
      ],
      "id": "8eb45bd9-ef67-459f-bba3-5dc550df3ae2",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "tool_call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_call": {
      "main": [
        [
          {
            "node": "Buscar reservas temporales / Evitar duplicados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Buscar alternativas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Buscar alternativas1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "reserva": {
      "main": [
        [
          {
            "node": "Crear reserva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar la reserva temporal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay reservas temporales?": {
      "main": [
        [
          {
            "node": "Límite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emparejar ID llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emparejar ID llamada": {
      "main": [
        [
          {
            "node": "Lista de reservas temporales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Límite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Coincide el ID de llamada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Coincide el ID de llamada?": {
      "main": [
        [
          {
            "node": "Hay disponibilidad (reserva temporal)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emparejar ID llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Límite": {
      "main": [
        [
          {
            "node": "Buscar reservas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay reservas?": {
      "main": [
        [
          {
            "node": "Lista de reservas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear reserva temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar": {
      "main": [
        [
          {
            "node": "¿Existen reservas temporales?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de reservas": {
      "main": [
        [
          {
            "node": "Combinar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de reservas temporales": {
      "main": [
        [
          {
            "node": "Combinar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "¿Existen reservas temporales?": {
      "main": [
        [
          {
            "node": "Mesas ocupadas (con temporales)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mesas ocupadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesas ocupadas (con temporales)": {
      "main": [
        [
          {
            "node": "Obtener disponibilidad de mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay mesas disponibles?": {
      "main": [
        [
          {
            "node": "Crear reserva temporal3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar alternativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar alternativas": {
      "main": [
        [
          {
            "node": "¿Hay alternativas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay alternativas?": {
      "main": [
        [
          {
            "node": "Alternativas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No hay alternativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesas ocupadas": {
      "main": [
        [
          {
            "node": "Obtener disponibilidad de mesa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay mesas disponibles?1": {
      "main": [
        [
          {
            "node": "Crear reserva temporal2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar alternativas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar alternativas1": {
      "main": [
        [
          {
            "node": "¿Hay alternativas?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay alternativas?1": {
      "main": [
        [
          {
            "node": "Alternativas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No hay alternativas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Buscar alternativas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Buscar alternativas1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buscar reservas temporales / Evitar duplicados": {
      "main": [
        [
          {
            "node": "¿Hay reservas temporales?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar reservas1": {
      "main": [
        [
          {
            "node": "¿Hay reservas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear reserva temporal2": {
      "main": [
        [
          {
            "node": "Hay disponibilidad1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear reserva temporal": {
      "main": [
        [
          {
            "node": "Hay disponibilidad (no hay reservas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener disponibilidad de mesa": {
      "main": [
        [
          {
            "node": "¿Hay mesas disponibles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener disponibilidad de mesa1": {
      "main": [
        [
          {
            "node": "¿Hay mesas disponibles?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear reserva": {
      "main": [
        [
          {
            "node": "Buscar la reserva temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar la reserva temporal": {
      "main": [
        [
          {
            "node": "Eliminar reserva temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conf_cliente2": {
      "main": [
        []
      ]
    },
    "Eliminar reserva temporal": {
      "main": [
        [
          {
            "node": "Registrar info de llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear reserva temporal3": {
      "main": [
        [
          {
            "node": "Hay disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar la reserva temporal1": {
      "main": [
        [
          {
            "node": "Eliminar reserva temporal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a7d9a9e-93b5-47e0-bec6-1290b153ec7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c81d2ffc6ed61ad1e47c852f135a45af064006395a80cb93adb589f41dd92efa"
  },
  "id": "Qt59QhZkboNjDxHM",
  "tags": []
}